# Programming and Database Fundamentals for Data Scientists - EAS503

### Dealing with data types

In [33]:
height = 10.2
tall = False
s = '4.3'

In [34]:
height + tall

10.2

In [8]:
# Strongly typed language
height + s

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
# What happens with 
height + tall

In [1]:
x = 7
y = 3
# regular division
print(x/y)
# integer division
print(x//y)

2.3333333333333335
2

### While loops in Python

In [34]:
i = 0
while i < 10:
    print("Value of i is "+str(i))
    i = i + 1

Value of i is 0
Value of i is 1
Value of i is 2
Value of i is 3
Value of i is 4
Value of i is 5
Value of i is 6
Value of i is 7
Value of i is 8
Value of i is 9

### Exception Handling in Python

In [3]:
def divides(x,y):
    try:
        z = x/y
    except ZeroDivisionError:
        print("Incorrect arguments")
        z = 0
    except TypeError as te:
        print("Wrong types")
        print(te)
        z = 0
    except:
        print("Unrecognized error happened")
        z = 0
    finally:
        print("Returning from the function")
        
    return z

In [5]:
print(divides(3,4))
print(divides(3,'w'))
print(divides(4,0))

Returning from the function
0.75
Wrong types
unsupported operand type(s) for /: 'int' and 'str'
Returning from the function
0
Incorrect arguments
Returning from the function
0

### Catching exceptions

In [6]:
numattempts = 0
while (numattempts < 4):
    try:
        x = int(input("Please enter a number: "))
        numattempts = numattempts + 1
    except ValueError:
        print("Oops!  That was no valid number.  Try again...")

Please enter a number: 12
Please enter a number: hsd
Oops!  That was no valid number.  Try again...
Please enter a number: 23
Please enter a number: 1
Please enter a number: sd
Oops!  That was no valid number.  Try again...
Please enter a number: 3

In [15]:
while True:
    try:
        x = int(input("Please enter a number: "))
        if(x == -99):
            break
    except ValueError as v:
        print("Oops!  That was no valid number.  Try again...")
        print(v)
        print(v.args)

Please enter a number: sd
Oops!  That was no valid number.  Try again...
invalid literal for int() with base 10: 'sd'
("invalid literal for int() with base 10: 'sd'",)
Please enter a number: -99

## Python Lists

In [87]:
l = ['3','4','5',[4.4,2.3]]

In [82]:
type(l)

list

In [89]:
## python indexing starts from 0
l[-1]

[4.4, 2.3]

In [90]:
l1 = [3,4,'garfield','chester',4.3]

In [91]:
l

['3', '4', '5', [4.4, 2.3]]

In [92]:
l + l1

['3', '4', '5', [4.4, 2.3], 3, 4, 'garfield', 'chester', 4.3]

In [93]:
l.append(23)

In [94]:
l

['3', '4', '5', [4.4, 2.3], 23]

### List of lists

In [22]:
l2 = [["George","Thomas","William"],["Dwight","Gerald","Ronald"]]

In [23]:
l2

[['George', 'Thomas', 'William'], ['Dwight', 'Gerald', 'Ronald']]

In [95]:
l = [7,4,3,9,8]

In [112]:
l[-3:-1]

[3, 9]

### Understanding performance of python lists

In [9]:
import time

In [8]:
# create a long list
l = []
i = 0
while i < 10000000:
    l.append(i)
    i = i + 1

In [129]:
len(l)

10000000

In [30]:
# measure the time taken to access values within a list
s = time.time()
_l = l[0]
e = time.time()
print(e-s)
s = time.time()
_l = l[5000000]
e = time.time()
print(e-s)
s = time.time()
_l = l[-1]
e = time.time()
print(e-s)

6.723403930664062e-05
8.20159912109375e-05
7.915496826171875e-05

In [31]:
# measure the time taken to delete values from a list
s = time.time()
del(l[0])
e = time.time()
print(e-s)
s = time.time()
del(l[5000000])
e = time.time()
print(e-s)
s = time.time()
del(l[-1])
e = time.time()
print(e-s)

0.12366008758544922
0.0052490234375
0.0001652240753173828

## Manipulating Lists

In [131]:
l = [4,"25 Avenue",8,3.2,"86th street"]

In [134]:
l[1] = "Third Street"

In [136]:
l[0:2] = [29,"Main Street"]

In [138]:
l[1] = 34.4

In [159]:
l = [4,7,8,2,4]

In [163]:
l2 = []
for i in range(0,len(l)):
    l2.append(2*l[i])
print(l2)

[8, 14, 16, 4, 8]

In [165]:
l2 = []
for l1 in l:
    l2.append(2*l1)
print(l2)

[8, 14, 16, 4, 8]

In [167]:
l2 = [2*l1 for l1 in l]
print(l2)

[8, 14, 16, 4, 8]

#### slicing lists

In [8]:
l = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [14]:
# pick part of the list
print(l[:3])
print(l[7:])
print(l[2:9])

[0, 1, 2]
[7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[2, 3, 4, 5, 6, 7, 8]

In [9]:
# pick every second element
print(l[::2])

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [11]:
# print every third element within a range
print(l[2:18:3])

[2, 5, 8, 11, 14, 17]

In [15]:
# reverse a list
print(l[::-1])

[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [18]:
# replicating lists
print([1/6]*9)
print(['a']*8)

[0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666, 0.16666666666666666]
['a', 'a', 'a', 'a', 'a', 'a', 'a', 'a']

### For loops

In [35]:
for i in range(10):
    print("Value of i is "+str(i))

Value of i is 0
Value of i is 1
Value of i is 2
Value of i is 3
Value of i is 4
Value of i is 5
Value of i is 6
Value of i is 7
Value of i is 8
Value of i is 9

## List Storage

In [67]:
a = [3,4,5]
b = list(a)
print(b)

[3, 4, 5]

In [70]:
list(range(8,10))

[8, 9]

In [75]:
a = list(range(10))
print(a)
b = a
print(b)
a = list(range(4))
print(a)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3]

In [80]:
a = list(range(4))
print(a)
a[1] = 'This is a great list'
print(a)

[0, 1, 2, 3]
[0, 'This is a great list', 2, 3]

In [77]:
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [82]:
a = list(range(10))
print(a)
#b = list(a)
b = a[:]
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [83]:
del(a[3])
print(a)
print(b)

[0, 1, 2, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

## More operations on lists

In [106]:
# concatenating two lists
l1 = [3,4,5,6]
l2 = list(range(4))
l3 = l1 + l2
print(l3)

[3, 4, 5, 6, 0, 1, 2, 3]

In [20]:
# advanced slicing
print(l3[0:3])
print(l3[5:])

[3, 4, 5]
[1, 2, 3]

In [36]:
# more slicing, jump by 2
print(l3[::2])

[3, 5, 0, 2]

In [37]:
print(l3[1:7:3])

[4, 0]

In [38]:
# reversing a list
print(l3[::-1])

[3, 2, 1, 0, 6, 5, 4, 3]

In [85]:
# append
l3.append(5)
print(l3)

[3, 4, 5, 6, 0, 1, 2, 3, 5]

In [86]:
l3.insert(7,3)
print(l3)

[3, 4, 5, 6, 0, 1, 2, 3, 3, 5]

In [89]:
print(l3.pop(2))
print(l3)

5
[3, 4, 6, 0, 1, 2, 3]

In [99]:
try:
    i = l3.index(3,1)
    print("found at "+str(i))
except ValueError:
    print("not found")

found at 6

In [107]:
print(sorted(l3))
print(l3)

[0, 1, 2, 3, 3, 4, 5, 6]
[3, 4, 5, 6, 0, 1, 2, 3]

In [110]:
l4 = [3,4,5.3,0.3]
sorted(l4)

[0.3, 3, 4, 5.3]

## Nested Lists

In [61]:
M = [[1,2,3],[4,5,6],[7,8,9]]
print(M)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [62]:
# how to we take a transpose of a matrix represented using M
N = [[0,0,0],[0,0,0],[0,0,0]]
for i in range(len(M)):
    for j in range(len(M[i])):
        N[j][i] = M[i][j]

In [64]:
print(N)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [111]:
M + N

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [51]:
#the pythonic way
N = []
for i in range(len(M)):
    N.append([m[i] for m in M])

In [52]:
print(N)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]